.rankContainer{
 display: flex;
 flex-direction: column;
 font-size: large;
 font-weight: 700;
 color: white;
 text-align: center;
 margin-top: 1rem;
}
.rankValue{
    font-size: large;
}

@media only screen and (max-width: 600px) {
    .rankContainer{
        font-size: large;
    }
}